@import "../../styles/globalAuth.scss";

@mixin grid-responsive($columns-mobile, $columns-desktop) {
  display: grid;
  grid-template-columns: repeat(#{$columns-mobile}, 1fr);

  @media (min-width: 768px) {
    // md breakpoint
    grid-template-columns: repeat(#{$columns-desktop}, 1fr);
  }
}

.signup {
  width: 100%;
  main {
    width: 100%;
    height: 100vh;
    @include grid-responsive(1, 2);
  }
}
