@import "@/assets/styles/variables.scss";

.profile-Description-display {
  border-radius: 12px;
  border: 1px solid #c5d0e6;
  box-sizing: border-box;
  overflow: hidden;
  padding: 26px;
  h1 {
    color: $primary;
    font-weight: 600;
    margin: 0;
    font-size: 16px;
    @media (min-width: 640px) {
      font-size: 20px;
    }
    @media (min-width: 768px) {
      font-size: 24px;
    }
    @media (min-width: 1024px) {
      font-size: 32px;
    }
  }
  p {
    color: #848fac;
    font: {
      weight: 400;
      size: 14px;
    }
    @media (min-width: 640px) {
      font-size: 18px;
    }
  }
}
