@import "@/assets/styles/variables.scss";

.drawer-patient {
  .drawer-container {
    width: 320px;
    padding: 16px;
    @media (min-width: 640px) {
      // sm breakpoint
      width: 499px;
    }
  }
}
