@import "@/assets/styles/variables.scss";

.main-layout {
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  .navbar-box {
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0px;
    width: 100%;
    display: flex;
    // align-items: center;
    // justify-content: center;
    min-height: $nav-height-sm;
    @media (min-width: 768px) {
      // md breakpoint
      min-height: $nav-height-md;
    }
    @media (min-width: 1024px) {
      // lg breakpoint
      border-bottom: 1px solid #dfe8f6;
      min-height: $nav-height;
    }
  }
  .dash-box {
    display: flex;
    flex-direction: row;
    overflow: auto;
    .side-bar {
      position: sticky;
      display: none;
      max-width: 252px;
      width: 100%;
      border-right: 1px solid #dfe8f6;
      padding: {
        top: 23px;
        left: 16px;
        right: 16px;
      }
      top: 0;
      height: calc(100vh - #{$nav-height-sm});
      @media (min-width: 768px) {
        // md breakpoint
        display: none;
        height: calc(100vh - #{$nav-height-md});
      }
      @media (min-width: 1024px) {
        // lg breakpoint
        display: block;
        height: calc(100vh - #{$nav-height});
      }
    }
    .dash-container {
      padding: 16px;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
