@import "@/assets/styles/variables.scss";

.dropdown-profile {
  position: relative;
  display: none;
  @media (min-width: 1024px) {
    // lg breakpoint
    display: block;
  }
  .dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 9999px;
    padding: 0px;
    border: none;
    margin-left: 22px;
    cursor: pointer;
    &:disabled {
      cursor: default;
    }
  }
  .dropdown-fade {
    position: absolute;
    z-index: 1001;
    top: 79px;
    right: -16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    .dropdown-container {
      min-width: 250px;
      background-color: white;
      border: 1px solid #dfe8f6;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      overflow: hidden;
      .link-profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        border: none;
        width: 100%;
        column-gap: 16px;
        padding: 20px;
        text-decoration-line: none;
        color: rgba($primary, 0.5);
        font-size: 16px;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        border-bottom: 1px solid #dfe8f6;
        svg {
          g {
            opacity: 0.5;
          }
        }
        &:hover {
          color: $primary;
          svg {
            g {
              opacity: 1;
            }
          }
        }
      }
      .button-logout {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        background-color: transparent;
        border: none;
        width: 100%;
        column-gap: 16px;
        padding: 20px;
        text-decoration-line: none;
        color: rgba($primary, 0.5);
        font: {
          size: 16px;
          family: "Poppins", system-ui;
        }
        cursor: pointer;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:disabled {
          cursor: default;
        }
        svg {
          path {
            opacity: 0.5;
          }
        }
        &:hover {
          color: $primary;
          svg {
            path {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
