@import "@/assets/styles/variables.scss";

.history-page {
  padding: 16px;
  .title-history {
    display: flex;
    flex-direction: row;
    column-gap: 22px;
    align-items: center;
    margin-bottom: 25px;

    h1 {
      color: $primary;
      font-weight: 600;
      margin: 12px 0;
      font-size: 16px;
      @media (min-width: 640px) {
        font-size: 20px;
      }
      @media (min-width: 768px) {
        font-size: 24px;
      }
      @media (min-width: 1024px) {
        font-size: 32px;
      }
    }
  }
}
