@import "@/assets/styles/variables.scss";

.home-page {
  .home-top {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 16px;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      column-gap: 16px;
      height: 520px;
    }
    .chart-box {
      width: 100%;
      height: 100%;
      grid-column: span 2 / span 2;
      display: flex;
    }
    .calender-appointment {
      min-width: 320px;
      display: flex;
      flex-direction: column;
      @media (min-width: 768px) {
        min-width: 420px;
      }
      .title-box {
        display: flex;
        flex-direction: row;
        column-gap: 22px;
        align-items: center;
        margin-bottom: 20px;
        @media (min-width: 768px) {
          display: none;
        }

        h1 {
          color: $primary;
          font-weight: 600;
          margin: 12px 0;
          font-size: 16px;
          @media (min-width: 640px) {
            font-size: 20px;
          }
          @media (min-width: 768px) {
            font-size: 24px;
          }
          @media (min-width: 1024px) {
            font-size: 32px;
          }
        }
        .title-img {
          width: 24px;
          height: 24px;
          @media (min-width: 640px) {
            width: 45px;
            height: 45px;
          }
        }
      }
      .calender-box {
        overflow: hidden;
      }
    }
  }
}
